<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-init-method="init" default-destroy-method="destroy">


<!--    <bean id="emailMessageSender" class="com.nhnacademy.edu.springframework.sender.EmailMessageSender"-->
<!--          scope="singleton" >-->
<!--    </bean>-->

    <bean id="smsMessageSender" class="com.nhnacademy.edu.springframework.sender.SmsMessageSender"
          scope="prototype">
    </bean>

<!--    MessageSender 타입이 하나만 있으면 그 타입에 맞는 MessageSender로 자동 주입-->
    <bean id="messageSendService" class="com.nhnacademy.edu.springframework.service.MessageSendService"
            autowire="byType">
    </bean>

</beans>