<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-init-method="init" default-destroy-method="destroy">


<!--    <bean id="emailMessageSender" class="com.nhnacademy.edu.springframework.sender.EmailMessageSender"-->
<!--          scope="singleton" >-->
<!--    </bean>-->

<!--    <bean id="smsMessageSender" class="com.nhnacademy.edu.springframework.sender.SmsMessageSender"-->
<!--          scope="prototype">-->
<!--    </bean>-->

    <bean id="messageSendService" class="com.nhnacademy.edu.springframework.service.MessageSendService">
    </bean>

</beans>